<div class="container ">
  <div class="row">
      <div class="col-sm-6">
          <img [src] = "userData.avatar_url" alt="No Photo to be displayed" width="200px" height= "200px" >
       </div>
       <div class="col-sm-6">
          <h3> <a target="_blank" [href]="userData.html_url">{{userDetails.full_name}}</a></h3>
       </div>
  </div>
  <br><br>
  <div class="repoDescription">
    <br><br>
    <h3>Repo description</h3>
      Project Description : {{userDetails.description}} <br>
      Language :  {{userDetails.language}} <br>
      Score : {{userDetails.score}} <br>
      {{userDetails.owner.url}}
      <br><br><br>
  </div>
</div>