<div class="container ">
  <div class="row" *ngIf = 'userData'>
      <div class="col-sm-5 picDiv">
        <div>
          <br>
           <img [src] = "userData.owner.avatar_url" alt="No Photo to be displayed" width="200px" height= "200px" >
           <h3><a [href]="userData.owner.html_url">{{userData.owner.login}}</a></h3>
        </div>
      </div>
       <div class="col-sm-7 detailDiv" >
         <br><br>
          <h2> <a target="_blank" [href]="userData.html_url">{{userData.full_name}}</a> <br> </h2>
            {{userData.description}} <br><br>
         <b>Language : </b> {{userData.language}} <br>
         <b>Forks count : </b> {{userData.forks}} <br>
         <b>Watchers count : </b> {{userData.watchers}} <br><br><br><br><br>
       </div>
  </div>
  <br><br>
  <!-- <div class="repoDescription">
      {{userDetails.owner.url}} -->
      <!-- <br><br><br>
  </div> --> 
</div>
