<div class="container ">
  <div class="row">
      <div class="col-sm-5 picDiv">
          <img [src] = "userData.avatar_url" alt="No Photo to be displayed" width="200px" height= "200px" >
       </div>
       <div class="col-sm-5 detailDiv" *ngIf = 'userDetails'>
          <h2> <a target="_blank" [href]="userData.html_url">{{userDetails.full_name}}</a> <br> </h2>
            {{userDetails.description}} <br><br>
         <b>Language : </b> {{userDetails.language}} <br>
         <b>Score : </b> {{userDetails.score}} <br>
         
       </div>
  </div>
  <br><br>
  <!-- <div class="repoDescription">
      <!-- {{userDetails.owner.url}} -->
      <!-- <br><br><br>
  </div> --> 
</div>