.container {
    display: flex;
    flex-direction: row;
    justify-content:center;
  }
  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
  }